[submodule "sub/ezmake"]
	path = sub/ezmake
	url = https://github.com/ezaf/ezmake.git
[submodule "sub/json"]
	path = sub/json
	url = https://github.com/nlohmann/json.git
[submodule "sub/dlfcn-win32"]
	path = sub/dlfcn-win32
	url = https://github.com/dlfcn-win32/dlfcn-win32.git
