[submodule "ext/parson"]
	path = ext/parson
	url = https://github.com/kgabis/parson.git
[submodule "ext/m.css"]
	path = ext/m.css
	url = https://github.com/mosra/m.css.git
[submodule "ext/ezc"]
	path = ext/ezc
	url = https://github.com/ezaf/ezc.git
