[submodule "sub/parson"]
	path = sub/parson
	url = https://github.com/kgabis/parson.git
[submodule "sub/m.css"]
	path = sub/m.css
	url = https://github.com/mosra/m.css.git
[submodule "sub/ezmake"]
	path = sub/ezmake
	url = https://github.com/ezaf/ezmake.git
